
.ui-list-item {
  background: #eee;
  margin-bottom: 10px;
  padding: 1em;
}

button {
  background: #347eff;
  border: none;
  color: #fff;
  margin: 0 10px 20px 0;
  outline: none;
  padding: 10px;
}

form{
  margin:10px auto;
}

input{
  height:30px;
  line-height:30px;
  padding-left:5px;
  margin:20px 0 0 10px;
  border:1px solid #eee;
}
.ux-form-tips{
  margin:5px 0 20px 10px;
}
