<div>
  Welcome to Angular4 Animations!!
</div>
<form novalidate #numberForm="ngForm">
  <!--<input type='text' (keyup)="formatFixed($event)" name="number" placeholder='Input your userName' [(ngModel)]='number'>-->
  <input type='text' appNumberFormat  name="number" placeholder='Input your userName' [(ngModel)]='number'>
</form>
<div class="ux-form-tips">
  <!--{{ numberForm.value | json }}-->
  {{number}}
</div>

<!--<button (click)="formatFixed('22222.289..')">格式化</button>-->
<button (click)="pushItem()" [@myAnimation]="state">Add item</button>
<button (click)="removeItem()">Remove item</button>
<ul class="ui-list" [@listAnimation]="posts.length">
  <li class="ui-list-item" *ngFor="let post of posts">
    {{ post.title }}
  </li>
</ul>

