<div>
  Welcome to Angular4 Animations!!
</div>
<form novalidate #numberForm="ngForm">
  <input type='tel' appNumberFormat name="number" placeholder='Input Number' [(ngModel)]='number'>
</form>
<div class="ux-form-tips">
  {{ numberForm.value | json }}
  <br/>
  {{ number }}
</div>
<hr>
<p>Food: {{ food?.name }}, {{ sequentialFoods?.name }}</p>
<hr>
<button (click)="pushItem()" [@myAnimation]="state">Add item</button>
<button (click)="removeItem()">Remove item</button>
<ul class="ui-list" [@listAnimation]="posts.length">
  <li class="ui-list-item" *ngFor="let post of posts">
    {{ post.title }}
  </li>
</ul>
<hr>
<p>电影：</p>
<ul class="ui-list">
  <li class="ui-list-item" *ngFor="let movie of movies">
    {{ movie.title }}
  </li>
</ul>


