<div class="app-content">
  <div class="avatar">
    <img src="../../../../assets/images/avatar.png" alt="">
  </div>
  <div class="pipes">
    <input id="check" type="checkbox" name="check" #canDeactivate (change)="checkboxChanged(canDeactivate.checked)" value="check">
    <label for="check">Can Deactivate:</label>
  </div>
  <div class="pipes">
    PIPES: {{'pipes' | welcome}} {{'pipes' | repeat:3}}
  </div>
  
  <div class="link" [routerLink]="['/home']">Home</div>
  
  <div class="link" (click)="singOut()">Sign out</div>
</div>

