<div class="app-content">
  <div class="app-content">
    <div class="avatar">
      <img src="../../../../assets/images/avatar.png" alt="">
    </div>
  </div>
  <div>
    Can deactivate:
    <input #canDeactivate type="checkbox" (change)="checkboxChanged(canDeactivate.checked)"/>
  </div>
  <div class="pipes">
    PIPES: {{'pipes' | welcome}} {{'pipes' | repeat:3}}
  </div>
  
  <!-- primeng confirm dialog -->
  <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="400"></p-confirmDialog>

  <div class="link" [routerLink]="['/home']">Home</div>
  
  <div class="link" (click)="singOut()">Sign out</div>
</div>

