/* You can add global styles to this file, and also import other style files */

html, body, div, ul, ol, li, p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}

router-outlet {
  display: none;
}

.app-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-body {
  height: 100%;
  width: 100%;
  flex: 1;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.app-content {
  padding: 15px;
}

.app-header {
  display: flex;
  width: 100%;
  height: 44px;
  line-height: 44px;
  background: linear-gradient(to right, #347eff, #1ea3ff);
  border-radius: 0;
  border: 0;
  z-index: 10;
  color: #fff;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.app-footer {
  width: 100%;
  height: 44px;
  line-height: 44px;
  border-radius: 0;
  border: 0;
  z-index: 10;
  color: #fff;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-top: .55px solid rgba(0, 0, 0, .3);
  background: #f8f8f8;
}

.tabbar {
  display: flex;
}

.tabbar .tabbar-item {
  flex: 1;
  text-overflow: ellipsis;
}

.tabbar .tabbar-item a {
  text-decoration: none;
  display: block;
  color: #999;
}

.tabbar .tabbar-item.active a {
  color: #488aff;
}

.link {
  background-color: #347eff;
  width: 80%;
  margin: 0 auto;
  display: block;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.title {
  margin: 10px 0;
}

// app-loading...
.splash-logo {
  left: 50%;
  top: 50%;
  margin-left: -26px;
  margin-top: -30px;
  z-index: 2;
  position: absolute;
  width: 54px;
}

.splash-loader,
.splash-loader::before,
.splash-loader::after {
  left: 50%;
  top: 50%;
  margin-left: -45px;
  margin-top: -45px;
  position: absolute;
  vertical-align: middle;
  background: #c3002f;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  z-index: 1;
}

.splash-loader::before {
  content: "";
  animation: bounce 1.5s infinite;
}

.splash-loader::after {
  content: "";
  animation: bounce 1.5s -.4s infinite;
}

@keyframes bounce {
  0% {
    transform: scale(.8);
    -webkit-transform: scale(.8);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(.8);
    -webkit-transform: scale(.8);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

.splash-screen {
  background-color: #282828;
  height: 100%;
}

